.container-1, .container-2, .container-3{
    border: 2px solid black;
    margin: 10px auto;
    width: 75%;
    text-align: center;
}

.flex-box-container-1, .flex-box-container-2, .flex-box-rps{
display: flex;
 flex-direction: row;
border: 2px solid black;
padding: 5px;
justify-content: space-around;
flex-wrap: wrap;

}

.flex-box-container-1 div{
    display: flex;
    padding: 10px;
border: 2px solid black;
align-items: center;
}



.flex-box-container-2 img{
    margin: 10px;
    box-shadow: 0px 10px 50px rgb(179, 175, 175);
}


.flex-box-rps img:hover{
box-shadow: 0px 10px 20px rgb(162, 162, 226);
}